In [1]:
#Import Packages

import pandas as pd
import numpy as np

In [6]:
#Import the full data
dfsmall = pd.read_csv("./lastfm-dataset-360k/usersha1-profile.tsv",sep='\t',names=['userId','gender','age','country','signupDate'])
data = pd.read_csv("./lastfm-dataset-360k/usersha1-artmbid-artname-plays.tsv",sep='\t',names=['userId','artistId','artist','plays'])

In [3]:
print (len(dfsmall))
dfsmall.head(2)

359347

                                     userId gender   age  country   signupDate
0  00000c289a1829a808ac09c00daf10bc3c4e223b      f  22.0  Germany  Feb 1, 2007
1  00001411dc427966b17297bf4d69e7e193135d89      f   NaN   Canada  Dec 4, 2007

In [4]:
print (len(data))
data.head(2)

17535655

,userId,artistId,artist,plays
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099

In [7]:
# Merge the data
data = pd.merge(data, dfsmall, on='userId', how='left')
len(data)
data.head(2)

,userId,artistId,artist,plays,gender,age,country,signupDate
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137,f,22.0,Germany,"Feb 1, 2007"
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099,f,22.0,Germany,"Feb 1, 2007"

In [8]:
# Subset

dfsmall = data.ix[np.random.choice(data.index,size=10000,replace=False)]
print (data.shape)
print (dfsmall.shape)

(17535655, 8)
(10000, 8)

In [9]:
dfsmall.to_csv('./lastfm-dataset-360k-small/merged-subset.csv')